---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
const allPosts = await getCollection("blog");
allPosts.sort(
  (a: any, b: any) => Date.parse(b.data.date) - Date.parse(a.data.date)
);
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const topPosts = allPosts.slice(0, 3);
const pageTitle = "Home - Shane is me";
const { pageDescription } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>
    I've always had grandiose plans for a personal website that have never come
    to fruition. Instead my creative energy goes into work or fanciful things
    like writing stories for an audience of one.
  </p>

  <PostList listHeading="Top Posts" posts={topPosts} />

  <h3>More?</h3>
  <ul>
    {
      tags.map((tag: any) => (
        <li>
          <a href={`/blog/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
  <h4>About Me</h4>
  <p>
    I'm pretty good at my three C's: cars, computers, and canines. I have been
    an ASE Parts Specialist so no mechanic can cheat me. I have been tinkering
    with computer hardware and programming since the early 90's. I also spent a
    few years learning about canine behavior including six months of direct work
    with a senior trainer - I did this more for personal learning than starting
    a business, but I'm certainly open to such things.
  </p>
  <p>
    I have a <a href="https://github.com/drainpip">Github</a> profile for you to
    check out, and my work history over on<!-- -->
    <a href="https://www.linkedin.com/in/shaneduff/">LinkedIn</a>.
  </p>
</BaseLayout>
