---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const formattedDate = new Date(frontmatter.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title}>
  <h2>{frontmatter.title}</h2>
  <p class="post-date">{formattedDate}</p>
  <article>
    <slot />
  </article>
  <h4>Posts like this</h4>
  <p>{frontmatter.tags}</p>
  <ul>
    <li>test</li>
    {
      frontmatter.tags.map((tag: string) => {
        <li>
          <a href={`/blog/${tag}`}>{tag}</a>
        </li>;
      })
    }
  </ul>
  <p>Previous / Next</p>
</BaseLayout>
